#app-container {
  height: 100vh;
  padding: 0 5% 0 5%;
}

#app-title {
  position: fixed;
  bottom: 0;
}

#timer-and-dials {
  display: grid;
  grid-template-columns: 1fr 170px 1fr;
  grid-template-areas: ". timer dials";
  width: 100%;
}

#timer-div {
  border: 2px solid black;
  grid-area: timer;
  margin: 3%;
  padding: 15px;
}

#time-left {
  font-size: 36px;
}

#app-dials {
  grid-area: dials;
  margin: 3%;
}

.dial {
  width: 150px;
}

#session-increment,
#break-increment,
#session-decrement,
#break-decrement {
  color: white;
}

#session-dial-div:hover,
#break-dial-div:hover {
  color: var(--bs-light);
  background-color: var(--bs-dark);
}

#session-label,
#break-label {
  text-align: center;
}
